doctype html
html
  head
    title voidart
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="#")
    link(rel="icon", type="image/png", href="#")
  body(style="height:100%;width:100%;")
    section.hero.is-fullheight(style="filter:blur(0)")
      .hero-head
        header.navbar.has-background-light
          .container
            .navbar-menu
             a.navbar-item.has-text-black(href="/register") register
             a.navbar-item.has-text-black(href="/coding/1001/") coding
      .hero-body(style="background:rgba(255,255,255,.72);")
        #main